html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/styles.css")
        title Document
    body hellasl;dikfhakljsehdf
        block header
            include header.pug
        block content
        block footer
            include footer.pug
        script(src="/js/main.js")